/* Taken from google style sheet somewhere */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/* Main styling for the entire site */
html {
    background-image: url('/static/img/bg.png');
    background-repeat: repeat;
}

body {
    background-image: url('/static/img/bg.png');
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    text-shadow: 0 1px 4px rgba(150, 150, 150, 0.5);
    color: #4d4d4f;
    text-align: center;
}

a {
    color: #0060FF;
    text-decoration: none;
}

a:hover {
    color: #787d88;
    text-decoration: underline;
}

header {
    height: 100px;
    padding-bottom: 16px;
    padding-top: 8px;
}

article {
	margin: 0px 2% 2% 2%;
	text-align: left;
}

h2 {
	border-bottom: 1px solid #dfdfdf;
}

h4 {
	border-bottom: 1px solid #dfdfdf;
}

.setstatus {
    padding: 1%;
    margin: 2%;
}

#issuebox {
	padding: 1%;
}

.navbar {
	float: right;
	padding-right: 20px;
}

.logo {
    color: #0060FF;
    font-size: 50px;
    font-weight: 100;
    float: left;
    padding-left: 50px;
}

.logo img {
	width: 12%;
	vertical-align: middle;
	padding-right: 20px;
}

.logo a:hover {
    text-decoration: none;
    color: #0060FF;
}

#newticket {
    padding: 3%;
    margin: 0px 8%;
}

#newticket th {
    text-align: right;
}

#newticket th {
    text-align: left;
}

#newticket input[type="text"] {
    width: 100%;
}

#newticket input[id="id_capcha_1"] {
    width: 43%;
}

#newticket form {
    margin-bottom: 0;
}

#login {
    margin: 0% 35% 0% 35%;
    padding: 15px 0px 0px 0px;
}

#login form {
    padding: 2% 4% 2% 4%;
}

#login label {
    text-align: left;
}

.list {
    text-align: left;
    padding: 2% 3%;
    padding-bottom: 20px;
}

button, .button {
  margin-top: 2%;
}

.buttons {
    padding-bottom: 2%;
}

input.invalidinput
{
    border: 1px solid #FF0000 !important;
    background-color: #ffdddd !important;
}

input.validinput
{
    border: 1px solid #00FF00 !important;
    background-color: #DDFFDD !important;
}

.table {
    table-layout: fixed;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    border-collapse: collapse;
}

.table tr:hover {
  cursor: pointer;
  background-color: #ccc;
}

.table th, tr {
    border-bottom: 1px solid black;
}

table tr th, table tr td {
  padding:2px;
  margin:0px;
  font-size:12px;
}

.box {
    background: rgb(255,255,255);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #D3D7CF;
}

.field-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.field-split {
    width: 49%;
}
.field-full {
    width: 100%;
}
input.align-left {
    float:left;
}
input.align-right {
    float:right;
}

textarea {
    width: 100%;
    height: 100%;
}

th.sort:after {
    margin-left: .04em;
    cursor: pointer;
}

th.sort.none:after {
	content: '\2666'
}

th.sort.asc:after {
	content: '\2193'
}

th.sort.desc:after {
	content: '\2191'
}

.tktlist {
    width: 100%;
}

.tktlist thead {
    border-bottom: 1px solid #000;
}

.tktlist th, td {
    font-size: 13pt !important;
    border-bottom: 1px solid #4d4d4f !important;
}

.ticketfield {
    text-align: left;
    vertical-align: top;
    background-color: #D3D7CF;
    border: 1px solid #CCC;
    padding-left: 0.3%;
}

.ticketlabel {
    text-align: right;
    overflow: hidden;
    width: 8%;
}

.ticketinfo {
    margin-right: 2%;
}

.ticketinfo table {
    width: 100%;
    border-collapse: unset !important;
    border-spacing: 4px !important;
}

.ticketinfo th, td {
    border-bottom: unset !important;
    font-size: 12pt !important;
}

.comment {
    padding: 1%;
    margin: 2%;
}

.commenttext {
    border-top: 1px solid #CCC;
    padding-top: 1%
}

.newcomment {
    padding: 1%;
    margin: 2%;
}

#loginfield {
	display: grid;
}

input[name="newtkt"] {
	float: right;
	margin: 1% 1% 0 0;
}

input[type="button"], input[type="submit"] {
    background-color: #3380FF;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 4px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
input[type="button"]:hover:enabled,
input[type="submit"]:hover:enabled {
    background: linear-gradient(to bottom, #0060FF 5%, #0060FF 100%);
    background-color: #0060FF;
}
input[type="button"]:disabled,
input[type="submit"]:disabled {
    background-color: grey !important
}