{# The point of this document is to have all pages inherit from it. #}
{# This inheritance makes all pages equal in how their HTML is formatted. #}
{# there are basic 'head' and 'body' blocks for most of the content as well #}
{# as 'scripts' and 'title' blocks. #}
{# This file has been in every django project I ever worked on and it doesn't change much. #}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block page_title %}{% endblock %}</title>
	<meta charset='utf-8'>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/logo_transparent.png' %}" />
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' href="{% static 'css/normalize.css' %}">
	<link rel='stylesheet' href="{% static 'css/skeleton.css' %}">
	<link rel='stylesheet' href="{% static 'css/base.css' %}">
    {% block head %}

    {% endblock %}
</head>
<body>
	<header>
		<div class='row'>
			<div class='large-12 large-centered columns'>
				{% if user.is_authenticated %}
					<span class="navbar">Server time: {{ time }} | Logged in as {{ user.username }} | <a href="/logout/">Logout</a>
						{% if user.is_staff %}
						| <a href="/admin/">Admin</a>
						{% endif %}
					</span>
				{% else %}
					<span class="navbar">Server time: {{ time }} | <a data-href="/login/" href="">Login</a></span>
				{% endif %}
				<h1 class='logo'><a data-href="/" href=""><img src="{% static 'img/logo_transparent.png' %}" alt="" />{% block header_title %}{% endblock %}</a></h1>
			</div>
		</div>
	</header>
{% block body %}
{% endblock %}

{% block scripts %}
{% endblock %}
<script id='href-data' type='application/json'>{"delay":0,"mouseover":0}</script>
<script src="{% static 'js/base.js' %}"></script>
</body>
</html>

